{{#each categoria}}
    <h1>{{nome}}</h1>
    <hr>
{{/each}}
{{#each postagens}}
<div class="card mt-4">
    <div class="card-body">
        <h3>{{titulo}}</h3>
        <small>{{descricao}}</small><br>
        <a href="/postagem/{{slug}}"><button class="btn btn-success mt-2">Leia mais</button></a>
        <hr>
        <small>Data de Publicação: {{date}}</small>
    </div>
</div>

{{else}}
 <h5>Nenhuma Postagens!</h5>

{{/each}}